<h1>カート一覧</h1>
<p>--------------------</p>

<% @items.each do |item_id, count| %>
  <p>価格:<%= Item.find(item_id).name %></p>
  <p>価格:<%= Item.find(item_id).price %></p>
  <p>個数:<%= count %></p>
  <p>================</p>
<% end %>