<h1>カート一覧</h1>
<p>--------------------</p>
<%= link_to '購入に進む', new_order_path %>

<% @items.each do |item_id, count| %>
  <% item = get_item(item_id) %>
  <p>商品名:<%= item.name %></p>
  <p>価格:<%= item.price %></p>
  <p>個数:<%= count %></p>
  <p>================</p>
<% end %>