<h1>商品一覧</h1>

<% @items.each do |item| %>
  <p>商品名:<%= item.name %></p>
  <p>価格:<%= item.price %></p>
  <p>説明:<%= item.description %></p>

  <%= link_to 'カートに入れる', item_add_to_cart_path(item) %>
  <p>================</p>
<% end %>