<h1>商品一覧</h1>

<% @items.each do |item| %>

  <table border="1">
    <tr>
      <th>商品名</th>
      <th>価格</th>
      <th>説明</th>
      <th></th>
    </tr>

    <tr>
      <td><%= item.name %></td>
      <td><%= item.price %>円</td>
      <td><%= item.description %></td>
      <td><%= link_to 'カートに入れる', item_add_to_cart_path(item) %></td>
    </tr>

  </table>

  <p style="color: coral">==========================================================</p>
<% end %>

